<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center mx-auto">
            <h1 class="mb-1">Favorite links</h1>
            <h3 class="mb-5">
                <em>Store your favorite links</em>
            </h3>
            <a href="/signin" class="btn btn-primary">Let's get started</a>
        </div>
    </header>
</main>