{{#if success_msg}}
<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ success_msg }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>
{{/if}}

{{#if message}}
<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>
{{/if}}