<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">

    <a class="navbar-brand" href="/">
      <img src="/public/img/enlace.png" width="30" height="30" class="d-inline-block align-top"
        alt="">
      FavLinks
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        {{#if user}}

        <li class="nav-item">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              {{user.username}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <a class="dropdown-item" href="/profile">Profile</a>
              <a class="dropdown-item" href="/links/add">All a link</a>
              <a class="dropdown-item" href="/links">Show all links</a>
              <a class="dropdown-item" href="/logout">Close session</a>
            </div>
          </div>
        </li>
        {{else}}
          <li class="nav-item">
            <a href="/signin" class="nav-link">Sign in</a>
          </li>
          <li class="nav-item">
            <a href="/signup" class="nav-link">Sign up</a>
          </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>