<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">

                    
                    <form action="/links/edit/{{links.id}}" method="POST">
                        <div class="form-group">
                            <input value="{{links.title}}" type="text" name="title" class="form-control" placeholder="Title" autofocus>
                        </div>
                        <div class="form-group">
                            <input value="{{links.url}}" type="url" name="url" class="form-control" placeholder="URL">
                        </div>
                        <div class="form-group">
                            <textarea name="description" cols="30" rows="2" class="form-control" placeholder="Description">{{links.description}}</textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">Update</button>
                        </div>
                    </form>
                    

                </div>
            </div>
        </div>
    </div>
</div>