<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">   
                <div class="card-header"><h3>Sign in</h3></div>
                <div class="card-body">
                    <img src="public/img/usuario.png" alt="logo-usuario" class="mx-auto m-2">

                    <form action="/signin" method="POST">
                        <div class="form-group">
                          <label for="username">User name</label>
                          <input type="text" name="username" id="username" class="form-control">
                        </div>
                        <div class="form-group">
                          <label for="password">Password</label>
                          <input type="password" class="form-control" name="password" id="password">
                        </div>
                        <div class="form-group">
                         <button class="btn btn-success btn-lg btn-block">Enter</button>
                        </div>
                    </form>

                </div>    
            </div>
        </div>
    </div>
</div>