<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header"><h3>Sign up</h3></div>
                <div class="card-body">

                    <form action="/signup" method="POST">
                        <div class="form-group">
                          <label for="fullname">Full name</label>
                          <input type="text" name="fullname" id="fullname" class="form-control" autofocus>
                        </div>
                        <div class="form-group">
                          <label for="username">User name</label>
                          <input type="text" name="username" id="username" class="form-control">
                        </div>
                        <div class="form-group">
                          <label for="password">Password</label>
                          <input type="password" class="form-control" name="password" id="password">
                        </div>
                        <div class="form-group">
                          <label for="repeatpassword">Repeat password</label>
                          <input type="password" class="form-control" name="repeatpassword" id="repeatpassword">
                        </div>
                        <div class="form-group">
                         <button class="btn btn-success btn-lg btn-block">Register</button>
                        </div>
                    </form>

                </div>    
            </div>
        </div>
    </div>
</div>